hybris/config/licence
hybris/bin/platform/
hybris/bin/ext-accelerator/
hybris/bin/ext-addon/
hybris/bin/ext-backoffice/
hybris/bin/ext-channel/
hybris/bin/ext-cockpit/
hybris/bin/ext-commerce/
hybris/bin/ext-content/
hybris/bin/ext-data/
hybris/bin/ext-deprecated/
hybris/bin/ext-integration/
hybris/bin/ext-platform-optional/
hybris/bin/ext-print/
hybris/bin/ext-supportability/
hybris/bin/ext-template/
hybris/bin/ext-integration/
hybris/temp/
hybris/data/
hybris/log/
hybris/multisite-config/
hybris/config/local.properties
hybris/config/localextensions.xml
**/classes/**
**/gensrc/**
**/testclasses/**
*testclasses.xml
*.xsd
**/platformhome.properties
*.class
**/web/addonsrc/**
**/web/commonwebsrc/**
**/_ui/addons/**
**/views/addons/**
**/tld/addons/**
**/tags/addons/**
**/messages/addons/**
hybris/bin/custom/v2kart/**/build.xml
hybris/bin/custom/v2kart/v2kartcore/src/in/com/v2kart/core/jalo/
*.xml-dist
*.tag-dist
hybris/bin/custom/v2kart/v2kartstorefront/web/src/org/jirafe/
hybris/bin/custom/v2kart/v2kartcore/hmc/bin/v2kartcorehmc.jar
hybris/bin/custom/v2kart/v2kartcheckoutaddon/hmc/bin/v2kartcheckoutaddonhmc.jar
hybris/bin/custom/jirafeextension/hmc/bin/jirafeextensionhmc.jar
hybris/bin/custom/.metadata/
*.orig
hybris/bin/ext-labs/
hybris/bin/custom/**/build.xml
**/*.BACKUP.*
**/*.BASE.*
**/*.LOCAL.*
**/*.REMOTE.*
**/*.-testclasses.xml
.metadata/
hybris-Mobile-Apps-SDK/
hybris-dependencies/
hybris-oms/
hybris-sbg/
hybris-ems/
licenses/
Mobile-Commerce-SDK/
pom.xml
**/.externalToolBuilders/**
**/eclipsebin/**
hybris/bin/ext-atddtests/
hybris/config/solr/
hybris/config/tcServer/
hybris/config/tomcat/
hybris/sampleconfigurations/
hybris/bin/ext-atdd/
*.pmd
hybris/bin/dummy.txt
hybris/config/.classpath
hybris/config/.project
hybris/config/customize/dummy.txt
hybris/config/languages/dummy.txt
